<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aepronunciation.ipa"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aepronunciation.ipa.MainActivity"
            android:label="@string/title_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.LearnSingleActivity"
            android:label="@string/title_activity_learn_single" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.LearnDoubleActivity"
            android:label="@string/title_activity_learn_double" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.PracticeSingleActivity"
            android:label="@string/title_activity_practice_single" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.PracticeDoubleActivity"
            android:label="@string/title_activity_practice_double" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.TestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:noHistory="true" 
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.TestSetupActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/title_activity_test_setup" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.TestResultsActivity"
            android:label="@string/title_activity_test_results" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.HistoryTimeActivity"
            android:label="@string/title_activity_history_time" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.HistoryTestsActivity"
            android:label="@string/title_activity_history_tests" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.HistoryTestDetailsActivity"
            android:label="@string/title_activity_history_test_details" >
        </activity>
        <activity
            android:name="com.aepronunciation.ipa.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
